# IntelliJ project files
/.idea/
*.iml
out
gen

.php-version

###> symfony/framework-bundle ###
/var/
/vendor/
/node_modules/
###< symfony/framework-bundle ###

###> phpunit/phpunit ###
/.phpunit.cache/
/phpunit.xml
.phpunit.result.cache
###< phpunit/phpunit ###

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> test database ###
/data/test.db
###< test database ###!/.idea/

