<?xml version="1.0" encoding="UTF-8"?>
<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.2/phpunit.xsd"
         colors="true"
         bootstrap="tests/bootstrap.php"
         failOnDeprecation="true"
         failOnWarning="true"
         displayDetailsOnTestsThatTriggerWarnings="true"
         cacheDirectory=".phpunit.cache">
    <php>
        <env name="KERNEL_CLASS" value="huppys\CookieConsentBundle\tests\Fixtures\App\AppKernel"/>
    </php>

    <coverage/>

    <testsuites>
        <testsuite name="Project Test Suite">
            <directory>tests</directory>
        </testsuite>
    </testsuites>

    <source>
        <include>
            <directory>./src</directory>
        </include>

        <exclude>
            <directory>./tests</directory>
            <directory>./vendor</directory>
            <directory>./assets</directory>
            <directory>./docs</directory>
            <directory>./templates</directory>
        </exclude>
    </source>
</phpunit>
